.remove_item{
    color: black;
    background-color: white;
    border: 2px solid #555555;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.update_icon{
    color: black;
    background-color: white;
    border: 2px solid #555555;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
  }

.clickeable:hover {
    background-color: #555555;
    color: white;
}
.clickeable {
    cursor: pointer;
}

.sButton {
    color: black;
    background-color: white;
    border: 2px solid #555555;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.sButton:hover {
    background-color: #555555;
    color: white;
}